<div class="center-table">

  <div class="button-row">
    <button  class="create-button" type="submit" (click) = "onCreate()"  >Create</button>
  </div>
  <table *ngIf = "isTableVisible">
    <tr>
      <th>{{columnNames[0]}}</th>
      <th>{{columnNames[1]}}</th>
      <th>{{columnNames[2]}}</th>
    </tr>
    <tr *ngFor="let department of departments">
      <td>{{department.id}}</td>
      <td>{{department.departmentName}}</td>
      <td>
        <div class="button-row-form">
          <button class="cancel-button" style="background-color: rgb(67, 155, 244);" (click) = "onDelete(department)" >Delete</button>
          <button class="cancel-button" style="background-color: rgb(253, 65, 134);" (click) = "onEdit(department)" >Edit</button>
        </div>
      </td>
    </tr>
  </table>

<form [formGroup] = "departmentForm"   >
  <div  class="form-container" *ngIf = "!isTableVisible">
    <label for="id">Id:</label>
    <input type="text" id="id" formControlName = "id" />

    <label for="departmentName">Department Name:</label>
    <input type="text" id="departmentName" formControlName = "departmentName" />

    <div class="button-row-form">
      <button class="save-button" type="submit" *ngIf = "!isEditing"  (click) = "onSubmit()" >Save</button>
      <button class="save-button" type="submit" *ngIf = "isEditing" (click) = "onUpdate()" >Update</button>
      <button class="cancel-button" style="background-color: red;" (click) = "onCancel()" >Cancel</button>
    </div>
  </div>
</form>


</div>